<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
    <key>CFBundleDevelopmentRegion</key><string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key><string>Argus Sample</string>
    <key>CUADRAO_DESIGN_PREVIEW</key><string>$(CUADRAO_DESIGN_PREVIEW)</string>
    <key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
    <key>CFBundleName</key><string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key><string>$(CURRENT_PROJECT_VERSION)</string>
    <key>LSRequiresIPhoneOS</key><true/>
    <key>UILaunchScreen</key><dict/>
    <key>UIApplicationSceneManifest</key><dict>
        <key>UIApplicationSupportsMultipleScenes</key><false/>
    </dict>
    <key>UISupportedInterfaceOrientations</key><array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIAppFonts</key><array>
        <string>Inter-Regular.ttf</string>
        <string>Inter-Medium.ttf</string>
        <string>SpaceGrotesk-Medium.ttf</string>
    </array>
    <key>ARGUS_AUTH_ENABLED</key><string>$(ARGUS_AUTH_ENABLED)</string>
    <key>ARGUS_API_URL</key><string>$(ARGUS_API_URL)</string>
    <key>ARGUS_SUPABASE_URL</key><string>$(ARGUS_SUPABASE_URL)</string>
    <key>ARGUS_SUPABASE_ANON_KEY</key><string>$(ARGUS_SUPABASE_ANON_KEY)</string>
    <key>ARGUS_WEB_URL</key><string>$(ARGUS_WEB_URL)</string>
    <key>ARGUS_CAPTCHA_URL</key><string>$(ARGUS_CAPTCHA_URL)</string>
    <key>NSCameraUsageDescription</key><string>Scan a receipt when you choose Scan Receipt.</string>
    <key>NSLocationWhenInUseUsageDescription</key><string>Add your current location to a receipt only when you choose to.</string>
    <key>NSPhotoLibraryAddUsageDescription</key><string>Save a sample group card to Photos when you choose Save Image.</string>
    <key>NSAppTransportSecurity</key><dict><key>NSAllowsLocalNetworking</key><true/></dict>
</dict></plist>
